img {
  width: 25px;
}

.card {
  width: 225px;
  height: 250px;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  word-break: break-word;
  overflow: hidden;
  margin: 5% 0 5% 0;
}

.notes {
  height: 90%;
}

.like {
  display: flex;
}
.likes {
  color: red;
  font-size: x-large;
  color: darkturquoise;
}

.card1 {
  background: #c3ee8f;
}

.card2 {
  background: #ffff88;
}

.card3 {
  background: #eed3ff;
}

img:hover {
  -webkit-transform: rotate(720deg);
  transform: rotate(720deg);
}
img {
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}
